<nav class="navbar navbar-light bg-light footer">
    <div class="container mw-100">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 text-right pr-0">
            <span>Client-Version 0.1 (Ihre Software und Produkte sind auf dem neuesten Stand)</span>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 text-right">
            <span>Online (gerade aktualisiert)</span>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 text-right">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <span class="fa fa-globe fa-2x text-success mr-2"></span>
            </div>
        </div>
    </div>
</nav>
